*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(232, 229, 229, 0.76);
    font-size: 15px;
    font-family: Roboto, sans-serif;
    color: #222222;
    font-weight: 500;
    text-align: left;
    line-break: 1.5;
    background-image: url("../IMG/rau5.jpg");
    background-size: cover;
    background-attachment: fixed;
}
p{
    margin-bottom: 10px;
    padding-top: 10px;
}
a{
    text-decoration: none;
    list-style: none;
}
.section{
    width: 100%;
    float: left;
}
.container{
    margin: 0 auto;
    width: 1200px;
    float: none;
}
header{
    background-color: #50d250;
    padding-top: 5px;
    position: fixed;
}
.logo{
    float: left;
}
.logo img{
    width: 70px; height: 70px;
}
.bieutuong{
    float: right;
    padding: 15px 0 0 10px;
    font-size: 25px;
    color: #ffffff;
}
.bieutuong:hover{
    transform: scale(1.18);
    transition: 300ms;
}
li{
    float: left;
    padding-right: 15px;
    list-style: none;
    font-size: 17px;
    padding-top: 24px;
}
li a{
    color: #ffffff;
    font-weight: 500;
}
.logo2 li:hover{
    transform: scale(1.08);
    transition: 300ms;
}
img{
    width: 100%; height: 500px;
}
.container1{
    margin: 0 auto;
    width: 1200px;
    float: none;
    padding: 74px 0 0;
    overflow: hidden;
}
.img1{
    padding: 10px 100px 20px;
    background-color: rgba(18, 234, 35, 0.35);
    border-radius: 10px;
}
.container2{
    margin: 0 auto;
    width: 1000px;
    height: 9300px;
    float: none;
    padding: 20px 180px;
    background-color: rgba(164, 217, 60, 0.88);
}
.content a:hover{
    color: white;
    transition: all 400ms;
    font-size: 22px;
}
p{
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
}

h1{
    color: #030303;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.end{
    margin: 10px auto;
    width: 1200px;
    float: none;
    padding: 10px 10px;
    background: #a4d93c;
    color: #ffffff;
    border-radius: 15px;
}
.TV{
    padding: 10px 0 0 10px;
}
.TV li{
    float: none;
}
.id1{
    font-weight: 700;
    font-size: 25px;
}
.td1{
    font-weight: 700;
    font-size: 20px;
}
