
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(232, 229, 229, 0.76);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #222222;
    font-weight: 500;
    text-align: left;
    line-break: 1.5;
    background-image: url("../IMG/rau5.jpg");
    background-size: cover;
}
.anhnen{
    margin:0 auto;
    width: 1200px;
    float: none;
    padding: 74px 0 0;
    overflow: hidden;
}
.img1{
    padding: 10px 100px 20px;
    background-color: rgba(18, 234, 35, 0.35);
    border-radius: 10px;
    width: 100%; height: 500px;
}
p{
    text-align: justify;
}
.section{
    width: 100%;
    float: left;
}
.container{ /* kích thước chung của khối */
    margin: 0 auto;
    width: 1200px;
    float: none;
}

header{
    background-color: #50d250;
    padding-top: 5px ;
    position: fixed;
    margin-top: 0px;
    z-index: 3;
}
a{
    text-decoration: none;
    list-style: none;
}
.logo{
    float: left;
}
.logo img{
    width: 70px; height: 70px;
}

.bieutuong{
    float: right;
    padding: 15px 0 0 10px;
    font-size: 25px;
    color: #ffffff;
}

.bieutuong:hover{
    transform: scale(1.18);
    transition: 300ms;
}
li{
    float: left;
    padding-right: 15px;
    list-style: none;
    font-size: 17px;
    padding-top: 24px;
}
li a{
    color: #ffffff;
    font-weight: 500;
}
.logo2 li:hover{
    transform: scale(1.08);
    transition: 300ms;
}
.end{
    margin: 10px auto;
    width: 1200px;
    float: none;
    padding: 10px 10px;
    background: #a4d93c;
    color: #ffffff;
    border-radius: 15px;

}
.TV{

    padding: 10px 0 0 10px;
}
.TV li{
    float: none;
}
.entry{
    float:left;
    width: 66.67%;
    padding-right: 15px;
}
.entry .blog{
                 float:left;
                 width: 100%;
                 padding:30px;
                 background: #a4d93c;
                 color: #ffffff;
                 border-radius: 15px;
}
#tieude{
    line-height: 2;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
}
#doanvan{
    line-height: 1.5;
}
#tieude1{
    text-decoration: underline;
}
.tintuc:hover{
    transition: all 200ms;
    transform: scale(1.05);
}
.link1:hover{color:blue;}
.sidebar{
    float: left;
    padding-left: 15px;
    width:33.33%;
    background: #a4d93c;
    color: #ffffff;
    border-radius: 15px;
    z-index: 1;
}
.container1{
    float: none;
    width: 1000px;
    margin: 0 auto;
}
.sidebar .tieude2{
        float: left;
        width: 100%;
        padding: 15px;
}
.sidebar .tintuc{
    float: left;
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
}
.main{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}